<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xzz.library.dao.DiscussMapper" >
  <resultMap id="BaseResultMap" type="xzz.library.pojo.Discuss" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" /> <!-- mybatis' LONGVARCHAR >> mysql's LONGTEXT -->
    <result column="publish_date" property="publishDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from discusses
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="xzz.library.pojo.Discuss" >
    insert into discusses (id, user_id, title, content, publish_date)
    values (#{id,jdbcType=VARCHAR}, #{user_id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{publishDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="xzz.library.pojo.Discuss" >
    update discusses
    set user_id = #{userId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      publish_date = #{publishDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, user_id, title, content, publish_date
    from discusses
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, title, content, publish_date
    from discusses
  </select>
  <select id="getDiscusses" parameterType="xzz.library.dto.search.DiscussSearchDto" resultMap="BaseResultMap" >
    select id, user_id, title, content, publish_date
    from discusses
    <where>
      <if test="userId!=null and userId !=''">
        user_id like concat("%",#{userId},"%")
      </if>
      <if test="detail!=null and detail !=''">
        and title like concat("%",#{detail},"%")
        or content like concat("%",#{detail},"%")
      </if>
    </where>
    limit #{page}, #{limit}
  </select>
  <select id="countDiscusses" parameterType="xzz.library.dto.search.DiscussSearchDto" resultType="java.lang.Integer" >
    select count(0)
    from discusses
    <where>
      <if test="userId!=null and userId !=''">
        user_id like concat("%",#{userId},"%")
      </if>
      <if test="detail!=null and detail !=''">
        and title like concat("%",#{detail},"%")
        or content like concat("%",#{detail},"%")
      </if>
    </where>
  </select>
</mapper>